.highlight {
/*  padding: 0 2px;
  border: solid 2px;*/
  border-radius: 8px;
}

.correct {
  background-color: #c8e6c9;
  border-color: #8bc34a;
}
.wrong {
  background-color: #ef9a9a;
  border-color: #c62828;
}
#paragraph {
  font-family: 'Varela', sans-serif;
  font-size: 36px;
  overflow-y: hidden;
  height: 192px;
  border: 2px solid #000;
  padding: 15px;
}

.padding {
  padding: 20px 0;
}

.container{
  text-align: center;
}

input.input#input, #inputUsername {
  font-size: 28px;
  text-align: center;
  font-family: 'Varela', sans-serif;
  width: 66%;
  display: inline-block;
}

#form{
  text-align: center;
}

#user_submit {
  display: inline-block;
  clear: both;
}

#counter {
  font-size: 30px;
}

#test_results{
  font-size: 24px;
}
.correct_words {
  color: green
}

.incorrect_words {
  color: red
}

.pfn {
  color: red
}

.current {
  background-color: #e8eaf6;
}

.heading {
  font-family: 'Varela', sans-serif;
}

#username-input {
  font-size: 28px;
  text-align: center;
  font-family: 'Varela', sans-serif;
}
